
@media (min-width: 768px){
  /* Status bar and navigation bar style */
  .nav-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 80%;
    height: 92px;
    margin: auto;
    top: 0;
    background: #3c3a39;
  }

  .nav-bar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
    position: relative;
    left: 143px;
    font-style: normal;
    font-family: Inter, sans-serif;
    font-weight: 700;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-decoration:none;
  }

  .navigation {
    visibility: hidden;
  }

  .top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 40px;
    right: 94px;
    top: calc(50% - 40px / 2);
    border-radius: 8px;
    color: #fff;
  }

  .top-nav ul {
    width: 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    right: 36px;
    gap: 8px;
    width: 255px;
  }

  .top-nav li {
    list-style: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .top-nav img {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px;
    position: relative;
    width: 40px;
    height: 40px;
    right: 24px;
    top: calc(50% - 40px / 2);
    border-radius: 8px;
  }

  /* Headline Styling */
  .headline-container {
    display: flex;
    margin: auto;
    width: 80%;
    height: 649px;
    top: 72px;
    background-image: url(../images/about-bkgr-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .headline {
    display: flex;
    flex-direction: column;
    width: 566px;
    height: 740px;
    position: absolute;
    left: 363px;
    top: 72px;
    gap: 24px;
    padding: 122px 0px;
  }

  .primary-text {
    height: 90px;
    font-style: normal;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #ff6b00;
  }

  .headline .primary-text {
    height: 160px;
  }

  .headline .support-text {
    display: flex;
    align-items: center;
    height: 40px;
    font-style: normal;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .headline .description {
    height: 123px;
    font-style: normal;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
  }

  /* Social Media */
  .social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: absolute;
    width: 200px;
    height: 40px;
    left: 260px;
  }

  .social-icons img {
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }

  .social-icons li {
    list-style: none;
  }

  /* Recent works section */
  .recent-works {
    display: grid;
    grid-template-rows: 35% 65%;
    width: 80%;
    height: 1290px;
    position: relative;
    top: 112px;
    margin: auto;
  }

  /* Title */
  .works-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 1133px;
    height: 52px;
  }

  .works-title h2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600px;
    font-size: 40px;
    color: #1c1a19;
  }

  .works-title img {
    width: 327px;
    height: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #212121;
  }

  /* Multi stories and featured image section */
  .multi-stories {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    gap: 24px;
    width: 375px;
    height: 568px;
    top: 989px;
  }

  .right-block {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 327px;
    height: 307px;
  }

  .right-block h2,
  .right-block p,
  .work-cards h2,
  .work-cards p {
    font-style: normal;
    font-family: sans-serif;
    font-weight: 400;
    color: #091e42;
  }

  .right-block h2,
  .work-cards h2 {
    font-size: 32px;
    line-height: 44px;
  }

  .right-block h2 {
    width: 327px;
    height: 36px;
    color: #091e42;
  }

  .work-cards h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 295px;
    height: 173px;
    color: #fff;
  }

  .right-block p {
    width: 327px;
    height: 257px;
    font-size: 16px;
    line-height: 24px;
  }

  .work-cards p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 295px;
    height: 93px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .skills-container li {
    list-style: none;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
  }

  .tags ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    bottom: 120px;
    gap: 20px;
    width: 297px;
    height: 40px;
  }

  .tags li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 90px;
    height: 40px;
    background: #fff;
    border: 1px solid #8993a4;
  }

  button {
    display: flex;
    padding: 12px;
    gap: 10px;
    height: 48px;
    background: #ff6b00;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
  }

  button:hover {
    background-color: orange;
    cursor: pointer;
  }

  button:active {
    color: blue;
    opacity: 1;
  }

  button:focus {
    cursor: grab;
    border-radius: 10px;
    border-color: aqua;
  }

  .right-block button {
    width: 124px;
  }

  .work-cards button {
    width: 327px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
  }

  .work-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
    gap: 45px;
    width: 375px;
    height: 2836px;
  }

  .work-cards {
    width: 327px;
    height: 520px;
    background-image: url(../images/mask_group.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* About Us section */
  .about-us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 24px;
    gap: 24px;
    position: absolute;
    width: 375px;
    height: 683px;
    left: 0;
    top: 4137px;
    background-image: url(../images/about_bkgr.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .skills-container {
    display: grid;
    grid-template-rows: 30% 35% 35%;
    position: absolute;
    width: 375px;
    height: 922px;
    top: 4819px;
    background-color: #1c1a19;
  }

  .skills-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
  }

  .skills-container h2,
  .skills-container ul {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .skils-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    width: 225.46px;
    height: 41.46px;
    color: #fff;
    font-size: 32px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 840px;
    padding: 120px 24px;
    gap: 12px;
    position: absolute;
    left: 0;
    top: 5740px;
    font-family: sans-serif;
    font-style: normal;
  }

  .contact p {
    width: 327px;
    height: 216px;
    padding: 20px 6px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
  }

  .contact form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 75px;
    gap: 24px;
    width: 327px;
    height: 330px;
  }

  .contact input {
    width: 327px;
    height: 32px;
    left: 16px;
    right: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border: none;
    border-bottom: 1px solid #dbd8d7;
  }

  .contact textarea {
    width: 327px;
    height: 114px;
    left: 16px;
    right: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: none;
    padding: 12px;
    background: #fbf8f7;
  }

  #get-in-touch {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    gap: 10px;
    width: 131px;
    height: 48px;
    padding: 12px;
    background: #ff6b00;
  }

  .bottom_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    position: absolute;
    width: 375px;
    height: 72px;
    left: 0;
    top: 6590px;
  }

  #breakline {
    position: absolute;
    top: 0;
    height: 1px;
    background-color: #dfe1e6;
  }

  #indicator {
    position: absolute;
    bottom: 8px;
    width: 134px;
    height: 5px;
    background: #0d151e;
    border-radius: 10px;
  }

  .bottom_nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 32px;
    position: absolute;
    width: 200px;
    height: 40px;
    list-style: none;
  }
}