@media (min-width: 768px) {
  /* Status bar and navigation bar style */
  .nav-bar {
    width: 100%;
    height: 112px;
  }

  /* logo pic / loge name styling */
  .logo {
    width: 280px;
    margin-left: 45px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    animation: logo-loader 10s normal;
  }

  @keyframes logo-loader {
    0% {
      rotate: none;
    }

    100% {
      rotate: 1 1 0.5 360deg;
    }
  }

  .topNav {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    column-gap: 32px;
    width: 668px !important;
    padding: 5px;
    position: relative;
    right: 93px !important;
  }

  /* hidde amber */
  .hamburger {
    display: none;
  }

  /* top navigation styling */
  .top-nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 398px;
    height: auto;
    padding: 5px 5px;
    position: relative;
    list-style: none;
  }

  .navlinks {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 26px !important;
    line-height: 24px !important;
    color: #fff;
    text-decoration: none;
    border-bottom: none !important;
  }

  .contact-icon {
    display: flex;
    margin-left: 5px;
    height: 50px;
  }

  .highlight {
    text-decoration: underline;
    padding: 8px;
    background-color: #2d00f5;
  }

  /* main container */
  main {
    height: auto;
  }

  /* Headline Section Styling */
  .headline {
    width: 100%;
    position: relative;
    padding-top: 112px;
    background-image: url(../images/about-bkgr-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }

  .headline-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 65%;
    margin: 0;
    position: relative;
    left: 123px;
    top: 0;
  }

  .primary-text {
    font-style: normal;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400 !important;
    font-size: 82px !important;
    line-height: 112px !important;
    color: #ff6b00;
    padding: 10px;
  }

  .support-text {
    padding: 10px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 66px;
  }

  .description {
    padding: 10px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 62px;
  }

  h1.primary-text,
  h2.support-text,
  p.description {
    font-style: normal;
  }

  h2.support-text,
  p.description {
    color: #fff;
  }

  /* Social Media */
  .social-media {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 87px;
    position: absolute;
    left: 0%;
    top: 325px !important;
  }

  .social-icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
  }

  .social-media img {
    padding: 8px;
    width: 90px;
    height: 90px;
    border-radius: 8px;
  }

  /* Recent works section */
  .recent-works {
    display: grid;
    grid-template-rows: 0.5fr 2.5fr 6fr;
    padding-top: 145px;
    width: 100%;
    height: fit-content;
    position: relative;
    top: 131px;
  }

  /* Title */
  .works-title {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-row-start: 1;
    gap: 24px;
    width: 100%;
    height: 52px;
    position: relative;
    left: 157px;
  }

  .works-title hr {
    width: 75%;
    border: 1px solid #212121; 
  }

  .works-title h2 {
    width: 315px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #1c1a19;
  }

  /* Featured work section */
  .featured-work {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-content: space-between;
  }

  .featured-work img {
    height: 80%;
    width: 75%;
    margin: 0 auto;
  }

  .works-title img {
    width: 327px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #212121;
  }

  button {
    display: flex;
    height: 48px;
    gap: 10px;
    background: #ff6b00;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
    border: none;
  }

  button:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  button:focus {
    background: #e05304;
  }

  button:disabled {
    background: #f4f1f0;
  }

  .right-block {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    gap: 64px;
    width: 100%;
    height: max-content;
    justify-content: left;
  }

  .right-block h2 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px !important;
    line-height: 52px !important;
    color: #091e42;
  }

  .right-block p {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    width: 765px;
  }

  .tags ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }

  .tags li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    width: 140px;
    height: 60px;
    background: rgba(255, 255, 255, 0.24);
    font-weight: 500;
    font-size: 32px;
    line-height: 20px;
    border: 1px solid #8993a4;
  }

  .right-block button {
    width: auto;
    text-align: center;
  }

  /* style for work cards section */
  .work-frame {
    display: grid;
    grid-template-columns: repeat(3, 659px);
    grid-auto-rows: 776px;
    row-gap: 37px;
    column-gap: 24px;
    margin: 0 auto;
    top: 132px;
    position: relative;
  }

  .work-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    position: relative;
    overflow: auto;
    width: 100%;
    border: aqua 1px solid;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 45px;
    position: absolute;
    padding-top: 10px !important;
    left: 10px;
    padding-bottom: 45px;
    height: 100%;
    width: 95%;
  }

  .desktop-img {
    display: block;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
  }

  #button-width {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .work-cards button {
    width: 327px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
  }

  /* About Us section */
  .about-us {
    display: grid;
    grid-template-rows: 1fr 2.5fr 1fr;
    position: relative;
    width: 100%;
    height: max-content;
    margin-top: 459px;
    top: 97px !important;
    background-image: url(../images/about_bkgr2.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .about-us h2,
  .about-us p,
  .about-us button {
    position: relative;
    left: 10%;
  }

  .about-us button {
    justify-content: center;
    text-align: center;
    width: fit-content;
    font-size: 32px;
  }

  .about-us p {
    color: #f4f5f7;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 62px;
    width: 45%;
    height: max-content;
  }

  .about-us hr {
    width: 80%;
    border: 0.115px solid rgb(138, 131, 131);
    margin: auto;
  }

  .skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 224px;
    position: relative;
    margin: auto;
    width: 100%;
    height: 652px;
    top: 97px !important;
    padding-top: 150px;
    background-color: #221e1e;
  }

  .skills-category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700 !important;
    font-size: 44px;
    height: 64px;
    color: #fff;
  }

  .skills-container li {
    display: flex;
    font-size: 32px;
    line-height: 64px;
  }

  footer {
    height: 721px;
    margin-bottom: 25px;
  }

  .contact {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    height: auto;
    gap: 84px;
    position: relative;
    top: 195px !important;
    font-family: sans-serif;
    font-style: normal;
  }

  .contact p {
    width: 340px;
    padding: 20px 6px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: left;
    color: #172b4d;
  }

  .contact p:hover {
    transform: translateX(20%);
  }

  .contact form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 44px;
  }

  .contact label {
    display: none;
  }

  .contact input {
    width: 90%;
    height: 32px;
    left: 0;
    position: relative;
    right: 16px;
    font-weight: 400;
    font-size: 26px;
    line-height: 24px;
    border: none;
    border-bottom: 1px solid #dbd8d7;
  }

  .contact textarea {
    position: relative;
    width: 90%;
    height: 114px;
    right: 16px;
    left: 0;
    font-weight: 400;
    font-size: 26px;
    line-height: 24px;
    border: none;
    padding: 12px;
    background: #fbf8f7;
  }

  .contact button {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: center;
    gap: 10px;
    width: auto;
  }

  .contact button:hover {
    color: blue;
    -webkit-transition: color 5s ease-out;
    -moz-transition: color 5s ease-out;
    -o-transition: color 5s ease-out;
    transition: color 5s ease-out;
  }

  .bottom_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 92px;
    left: 0;
    top: 280px !important;
  }

  #breakline {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
  }

  #indicator {
    position: relative;
    top: 25px;
    width: 134px;
    height: 5px;
    background: #0d151e;
    border-radius: 10px;
  }

  .bottom_nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 25px;
    padding: 0;
    gap: 32px;
    position: absolute;
    width: 200px;
    height: 60px;
    list-style: none;
  }

  .bottom_nav li > img {
    width: 40px;
    height: 40px;
  }

  .featured-work img:hover {
    transform: scale(1.3);
    z-index: 999;
  }

  .bottom_nav img:hover,
  .social-media img:hover {
    border: 1px rgb(24, 211, 24) solid;
    transform: scale3d(1.2, 1.2, 1.2);
  }
}

@media (min-width: 992px){
  .headline-content {
    width: 35% !important;
  }

  .about-us p {
    width: 35%;
  }
}


  /* --- Desktop POPUP WINDOW STYLES ----- */

  .modal-container {
    position: fixed;
    top: 10%;
    left: 5%;
    right: 5%;
    background: #fff;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .modal-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 24px;
  }

  .modal-content {
    gap: 40px;
  }



  .modal-title {
    margin-top: 24px;
  }

  .mobile-heading {
    display: none;
  }

  .desktop-heading {
    display: block;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    padding-bottom: 0;
  }

  .modal-body {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 27px;
  }

  .modal-imgM {
    display: none;
  }

  .modal-imgD {
    display: block;
  }

  .modal-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    margin-left: 24px;
    width: 50%;
  }

  .modal-descM {
    display: none;
  }

  .modal-descD {
    display: block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .modal-btns {
    display: flex;
    justify-content: start;
    gap: 7px;
  }

  .modal button {
    display: flex;
    gap: 12px;
    padding: 12px;
    background: #ff6b00;
    border: none;
  }

  /* --- Mobile POPUP WINDOW STYLES ----- */
  .modal-container {
    position: fixed;
    top: 10%;
    left: 5%;
    right: 5%;
    background: #fff;
    width: 90%;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
  }
  
  .modal-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 24px;
  }
  
  .mobile-heading {
    display: none;
  }

  .desktop-heading {
    display: block;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    padding-bottom: 0;
  }

  .modal-body {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 27px;
  }

  .modal-mobImage {
    display: none;
  }

  .modal-desktopImage {
    display: block;
  }

  .modal-text {
    background-color: #e05304;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    margin-left: 24px;
    width: 50%;
  }

  .modal-mobileDesc {
    display: none;
  }

  .modal-desktopDesc {
    display: block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .modal-btns {
    display: flex;
    justify-content: start;
    gap: 7px;
  }

  .modal button {
    display: flex;
    gap: 12px;
    padding: 12px;
    background: #ff6b00;
    border: none;
  }

  
}