@media (min-width: 768px) {
  /* Status bar and navigation bar style */
  .nav-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 80%;
    height: 92px;
    margin: auto;
    top: 0;
    background: #3c3a39;
  }

  .nav-bar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
    position: relative;
    left: 143px;
    font-style: normal;
    font-family: Inter, sans-serif;
    font-weight: 700;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }

  .navigation {
    visibility: hidden;
  }

  .top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 40px;
    right: 94px;
    top: calc(50% - 40px / 2);
    border-radius: 8px;
    color: #fff;
  }

  .top-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    right: 36px;
    gap: 8px;
    width: 255px;
  }

  .top-nav li {
    list-style: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .top-nav img {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px;
    position: relative;
    width: 40px;
    height: 40px;
    right: 24px;
    top: calc(50% - 40px / 2);
    border-radius: 8px;
  }

  /* Headline Styling */
  .headline-container {
    display: flex;
    margin: auto;
    width: 80%;
    height: 649px;
    top: 72px;
    background-image: url(../images/about-bkgr-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .headline {
    display: flex;
    flex-direction: column;
    max-width: 566px;
    height: 540px;
    position: relative;
    left: 186px;
    top: 72px;
    gap: 24px;
    padding: 45px 0;
  }

  .primary-text {
    height: 90px;
    font-style: normal;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #ff6b00;
  }

  .headline .primary-text {
    height: 160px;
  }

  .headline .support-text {
    display: flex;
    align-items: center;
    height: 40px;
    font-style: normal;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .headline .description {
    height: 123px;
    font-style: normal;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
  }

  .description > p {
    left: 13%;
  }

  /* Social Media */
  .social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: absolute;
    max-width: 120px;
    height: 40px;
    left: 13%;
  }

  .social-icons img {
    padding: 8px;
    width: 60px;
    height: 60px;
    border-radius: 8px;
  }

  .social-icons li {
    list-style: none;
  }

  /* Recent works section */
  .recent-works {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 1290px;
    position: relative;
    top: 112px;
    margin: auto;
  }

  /* Title */
  .works-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 90%;
    height: 52px;
  }

  .works-title hr {
    width: 451px;
    border: 0.115px solid #8993a4;
  }

  .works-title h2 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #1c1a19;
  }

  .works-title img {
    width: 327px;
    height: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #212121;
  }

  button {
    display: flex;
    padding: 12px;
    height: 48px;
    background: #ff6b00;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
  }

  button:hover {
    background-color: orange;
    cursor: pointer;
  }

  button:active {
    color: blue;
    opacity: 1;
  }

  button:focus {
    cursor: grab;
    border-radius: 10px;
    border-color: aqua;
  }

  .right-block button {
    width: 124px;
  }

  /* Multi stories and featured image section */
  .multi-stories {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 24px;
    gap: 24px;
    width: 90%;
    height: 448px;
    position: relative;
    top: 114px;
  }

  .multi-stories img {
    height: 448px;
    width: 100%;
  }

  .right-block {
    display: grid;
    grid-template-rows: 1fr 2.5fr 1fr 1fr;
    gap: 10px;
    width: fit-content;
    min-height: 418px;
  }

  .right-block h2 {
    font-family: Crete Round, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .right-block p {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    min-height: 140px;
    max-width: 448px;
  }

  .right-block li {
    color: #091e42;
  }

  .tags ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 70%;
  }

  .tags li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 90px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    border: 1px solid #8993a4;
  }

  /* style for work cards section */
  .work-frame {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 135px;
    gap: 10px;
    width: 100%;
    height: 970px;
  }

  .work-cards {
    display: none;
  }

  .work-cards-desk {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding-left: 25px;
    width: 32%;
    height: 435px;
  }

  .img-placeholder2 {
    background-image: url(../images/img_placeholder2.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .img-placeholder3 {
    background-image: url(../images/img_placeholder3.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .img-placeholder4 {
    background-image: url(../images/img_placeholder4.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .img-placeholder5 {
    background-image: url(../images/img_placeholder5.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .work-cards-desk h2,
  .work-cards-desk p {
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: #fff;
    font-size: 32px;
    line-height: 44px;
  }

  .work-cards-desk h2 {
    display: flex;
    align-items: center;
    height: 93px;
    width: 100%;
    padding-top: 214px;
  }

  .work-cards-desk p {
    display: flex;
    align-items: center;
    max-width: 337px;
    max-height: 83px;
    padding-top: 45px;
    position: relative;
    left: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, serif;
    color: #fff;
  }

  #button-width {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .skills-container li {
    list-style: none;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
  }

  .work-cards button {
    width: 327px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
  }

  /* About Us section */
  .about-us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 24px;
    gap: 24px;
    position: relative;
    width: 80%;
    height: 593px;
    margin: auto;
    top: 338px;
    background-image: url(../images/about_bkgr2.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .about-us h2,
  .about-us p,
  .about-us button {
    position: relative;
    left: 42px;
  }

  .about-us p {
    max-width: 566px;
  }

  .about-us > p {
    color: #f4f5f7;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 65%;
  }

  .skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: auto;
    width: 80%;
    height: 422px;
    top: 339px;
    gap: 56px;
    background-color: #1c1a19;
  }

  .skills-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 195px;
    max-width: 1157px;
  }

  .skills-container h2,
  .skills-container ul {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .skils-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 225px;
    height: 42px;
    color: #fff;
    font-size: 32px;
  }

  .about-us hr {
    width: 80%;
    border: 0.115px solid #fff;
    position: relative;
    top: 115px;
    margin: auto;
  }

  .contact {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 120px 24px;
    gap: 44px;
    position: relative;
    margin: auto;
    top: 339px;
    font-family: sans-serif;
    font-style: normal;
  }

  .contact p {
    max-width: 455px;
    height: 216px;
    padding: 20px 6px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
  }

  .contact form {
    width: 567px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    gap: 24px;
    height: 330px;
  }

  .contact input {
    height: 32px;
    position: relative;
    left: 16px;
    right: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border: none;
    border-bottom: 1px solid #dbd8d7;
  }

  .contact textarea {
    position: relative;
    width: 100%;
    height: 114px;
    left: 16px;
    right: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: none;
    padding: 12px;
    background: #fbf8f7;
  }

  #get-in-touch {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 10px;
    width: 131px;
    height: 48px;
    padding: 12px;
    background: #ff6b00;
  }

  .bottom_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    position: relative;
    width: 80%;
    height: 72px;
    left: 0;
    top: 335px;
  }

  #breakline {
    position: absolute;
    top: 0;
    height: 1px;
    background-color: #dfe1e6;
  }

  #indicator {
    position: absolute;
    bottom: 8px;
    width: 134px;
    height: 5px;
    background: #0d151e;
    border-radius: 10px;
  }

  .bottom_nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 32px;
    position: absolute;
    width: 200px;
    height: 40px;
    list-style: none;
  }
}
