
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

.header {
  background: #3c3a39;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  animation: logo-loader 10s normal;
}

@keyframes logo-loader {
  0% {
    rotate: none;
  }

  100% {
    rotate: 1 1 0.5 360deg;
  }
}

/* responsive top-nav on mobile */
.top-nav-menu {
  list-style: none;
  height: 0;
  overflow: hidden;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
  right: 14px;
  background-color: #3c3a39 !important;
  cursor: pointer;
  border: none !important;
}

.hambergerBar {
  display: block;
  width: 25px;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #f1f2f5;
}

.hamburger.active {
  background: rgba(18, 18, 19, 0.7);
  cursor: pointer;
}

.hamburger.active .hambergerBar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .hambergerBar:nth-child(1) {
  transform: translateY(2px) rotate(45deg);
  background: #65707e;
  position: fixed;
  z-index: 1;
}

.hamburger.active .hambergerBar:nth-child(3) {
  transform: translateY(2px) rotate(-45deg);
  background: #65707e;
  position: fixed;
  z-index: 1;
}

/* hide the menu list and contact icon */
.contact-icon {
  display: none;
}

/* Headline Section */
.headline {
  background-color: #1c1a19;
  background-image: url(../images/background-image.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 120px 0 160px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.headline-content {
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 35%;
}

.primary-text {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  text-transform: capitalize;
}

.support-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

/* Social Media */
.social-media {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding: 0 24px;
}

.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5px;
}

.social-media img {
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.social-media li {
  list-style: none;
}

.works {
  padding: 120px 0;
}

.works-title {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.work-heading {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  text-transform: capitalize;
  margin-bottom: 24px;
  padding: 10px 0;
}

.work-hr {
  border: none;
  height: 1px;
  margin-bottom: 80px;
  background: #212121;
}

/* Multi stories and featured image section */
.featured-work {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  gap: 24px;
}

.mob-Placeholder {
  width: 327px;
  margin: 0 auto;
}

.desk-Placeholder {
  display: none;
}

.right-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.workTitle {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  padding: 0 24px;
}

.workDesc {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  padding: 0 24px;
}

.tags {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  padding: 0 24px;
  gap: 12px;
}

.lang {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  list-style: none;
}

.lang li {
  padding: 10px 5px;
  border: 1px solid #0b0c0e;
  color: #e7e9ec;
}

.right-block li {
  color: #0b0c0e;
  border: 1px solid #0b0c0e;
}

.workBtn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background: #d65c05;
  color: #fff;
  cursor: pointer;
  width: fit-content;
  padding: 12px;
  border: none;
  text-transform: capitalize;
}

.workBtn-center {
  width: 100%;
  text-align: left;
  padding: 0 24px;
}

/* Work card grid styles */
.grid-container {
  display: grid;
  grid-template-columns: 327px;
  grid-auto-rows: 386px;
  row-gap: 24px;
  justify-content: center;
}

.grid-item {
  border: 1px solid rgb(25, 26, 25);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
  position: relative;
}

.grid-item img {
  width: 100%;
}

.card-img {
  position: absolute;
}

.desk-img {
  display: none;
}

.card-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 16px;
}

.desktop-para {
  display: none;
}

.card-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-transform: capitalize;
}

.card-desc {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.grid-item .taags {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  gap: 12px;
}

.grid-item .lang {
  background: rgba(255, 255, 255, 0.24);
  border: none;
}

.grid-item li {
  color: #fff;
  padding: 10px;
  margin-top: 5px;
  text-decoration: none;
}

.grid-item .card-btn {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background: #ff6b00;
  color: #fff;
  cursor: pointer;
  padding: 12px;
  border: none;
  text-transform: capitalize;
}

.button:hover {
  background: #fff5e1;
  color: #f55800;
}

.button:active {
  background: #e05304;
  color: #f4f1f0;
}

.button:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

/* About Us section */
.about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 24px;
  position: relative;
  width: 375px;
  height: 683px;
  left: 0;
  top: 787px;
  background-image: url(../images/about_bkgr.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us h2 {
  margin-top: 32px;
}

.about-us p {
  width: 327px;
  height: 143px !important;
  font-family: Inter, sans-serif;
  font-weight: 400;
  vertical-align: middle;
  margin-bottom: 45px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 375px;
  height: 1122px;
  top: 787px;
  padding-top: 145px;
  background-color: #181616;
}

.skills-title {
  display: inline-flex;
  flex-direction: row;
}

.skills-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 18px;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}

.skills-title img {
  width: 32px;
  height: 32px;
  align-self: center;
}

.skills-title h3 {
  margin-left: 18px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 64px;
  color: #fff;
}

.skills-container li {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  list-style: none;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 1110px;
  padding: 120px 24px;
  gap: 12px;
  position: relative;
  left: 0;
  top: 795px;
  font-family: Inter, sans-serif;
}

.contact p {
  width: 327px;
  height: 346px;
  padding: 20px 6px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 25px;
  gap: 24px;
  width: 327px;
  height: 330px;
}

.contact label {
  display: none;
}

.contact input {
  width: 327px;
  height: 32px;
  left: 16px;
  right: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

.contact textarea {
  width: 327px;
  height: 114px;
  left: 16px;
  right: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  padding: 12px;
  background: #fbf8f7;
}

.errorMessage {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: 24px;
  color: #dc3545;
  margin: 0.75rem 0;
}

button[type="submit"] {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  gap: 10px;
  width: 131px;
  height: 48px;
  padding: 12px;
  background: #ff6b00;
}

.bottom_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  position: relative;
  width: 375px;
  height: 72px;
  left: 0;
  top: 680px;
  bottom: 25px;
}

#breakline {
  position: absolute;
  top: 0;
  height: 1px;
  background-color: #dfe1e6;
}

#indicator {
  position: absolute;
  bottom: 8px;
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
}

.bottom_nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 32px;
  position: relative;
  width: 200px;
  height: 40px;
  list-style: none;
}

/* --- Mobile POPUP WINDOW STYLES ----- */
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  overflow: scroll;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(8, 19, 43, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.modal-container {
  position: fixed;
  top: 8%;
  left: 5%;
  right: 5%;
  background: #fff;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 12px;
  padding: 0 5px;
}

.heading {
  width: 100%;
}

.mobile-heading {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  color: #172b4d;
  padding-bottom: 30px;
  padding-top: 16px;
}

.close-btn {
  float: right;
  border: none;
  outline: none;
  background: none;
  color: #67798e;
  font-size: 3.5rem;
  font-weight: bold;
  cursor: pointer;
}

.desktop-heading {
  display: none;
}

.modal-tags {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  gap: 12px;
}

.modal-tags ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 26px;
}

.modal ul {
  display: flex;
  gap: 8px;
  text-decoration: none;
}

.modal-tag {
  width: fit-content;
  padding: 10px 12px;
  border: 1px solid #979493;
  list-style: none;
}

.modal-body {
  display: flex;
  flex-direction: column;
  margin: 20px 16px;
}

.modal-desktopImage {
  display: none;
}

.modal-image {
  width: 100%;
  height: auto;
}

.modal-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.modal-mobileDesc {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.modal-desktopDesc {
  display: none;
}

.modal-btns {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  margin-top: 20px;
}

.modal button {
  display: flex;
  padding: 24px;
  background: #ff6b00;
  border: none;
  text-decoration: none;
}

.modal .modal-btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
}

.display-modal {
  pointer-events: all;
  display: block;
}

.blur {
  filter: blur(5px);
}