
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
}

.header {
  background: #3c3a39;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header a {
  color: #fff;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  animation: logo-loader 10s normal;
}

@keyframes logo-loader {
  0% {
    rotate: none;
  }

  100% {
    rotate: 1 1 0.5 360deg;
  }
}

/* responsive top-nav on mobile devices*/
.top-nav-menu {
  list-style: none;
  height: 0;
  overflow: hidden;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
  right: 14px;
  background-color: #3c3a39 !important;
  cursor: pointer;
  border: none !important;
}

.hambergerBar {
  display: block;
  width: 25px;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #f1f2f5;
}

.hamburger.active {
  background: rgba(18, 18, 19, 0.7);
  cursor: pointer;
}

.hamburger.active .hambergerBar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .hambergerBar:nth-child(1) {
  transform: translateY(2px) rotate(45deg);
  background: #65707e;
  position: fixed;
  z-index: 1;
}

.hamburger.active .hambergerBar:nth-child(3) {
  transform: translateY(2px) rotate(-45deg);
  background: #65707e;
  position: fixed;
  z-index: 1;
}

.mobile-top-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: 60px 42px;
  background: #3c3a39;
  list-style: none;
  transition: all 0.5s ease-in-out;
}

.mobile-top-nav a {
  width: 100%;
  display: block;
  padding-left: 15px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #fff5e1;
  border-bottom: 1px solid #6f6c6b;
  text-decoration: none;
}

.message-icon {
  display: none;
}


/* Headline Section */
.headline {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 130px 0 160px;
  background-color: #1c1a19;
  background-image: url(../images/background-image.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.headline-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 24px;
}

.primary-text {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.support-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

/* Social Media */
.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  list-style: none;
}

.social-media img {
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.works {
  padding: 120px 0;
}

.works-heading {
  display: flex;
  flex-direction: column;
  padding: 5px 24px;
  gap: 24px;
}

.work-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  text-transform: capitalize;
  margin: 0 24px;
}

.work-hr {
  border: none;
  height: 1px;
  margin: 20px 20px 80px 20px;
  background: #212121;
}

/* Buttons' common style */
button {  
  padding: 12px;
  gap: 10px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: none;
}

button:enabled {
  background: #f55800;
  color: #fff;
}

button:active {
  background:  #e05304;
  color: #F4F1F0;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

button:disabled {
  color: #5b5957;
  background: #f4f1f0;
}

/* Multi stories and featured image section */
.featured-work {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  gap: 24px;
}

.mob-Placeholder {
  width: 327px;
  margin: 0 auto;
}

.desk-Placeholder {
  display: none;
}

.right-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.workTitle {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.workDesc {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.tags {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  gap: 12px;
}

.lang {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2px;
  list-style: none;
  padding: 10px;
  border: 1px solid #8993a4
}


/* Work card grid styles */
.work-grid {
  display: grid;
  grid-template-columns: 327px;
  grid-auto-rows: 386px;
  row-gap: 24px;
  justify-content: center;
}

.work-cards {
  border: 1px solid rgb(25, 26, 25);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 10px;
  overflow: auto;
  position: relative;
}

.work-cards img {
  width: 100%;
}

.card-img {
  position: absolute;
}

.works .desktop-img {
  display: none;
}

.card-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.showCard-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: rgb(250, 248, 248);
  padding: 5px 20px;
}

.works .desktop-para {
  display: none;
}

.card-desc {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 0px 5px 0px 15px;
}

.work-cards .tags {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  column-gap: 12px;
}

.work-cards ul {
  display: flex;
  flex-direction: row;
  padding: 5px 5px 5px 15px;
}

.work-cards li {
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  text-decoration: none;
  border: 1px solid;
  list-style: none;
}

.work-cards button {
  width: 100%;
  margin: 0;
}

/* About us section */
.about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 24px;
  background-image: url(../images/about_bkgr.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about-us p {
  font-family: Inter, sans-serif;
  font-weight: 400;
  vertical-align: middle;
  margin-bottom: 45px;
}


/* Skills section */
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 44px;
  padding: 115px 5px;
  background-color: #181616;
}

.skills-title {
  display: inline-flex;
  flex-direction: row;
  column-gap: 24px;

}

.skills-title img {
  width: 24px;
  height: 24px;
  align-self: center;
}

.skills-title h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 64px;
}

.skills-container li {
  font-weight: 400;
  font-size: 22px;
  line-height: 44px;
  text-align: center;
  list-style: none;
  padding-top: 12px;
}

.skills-container h3,
.skills-container li {
  font-family: Inter, sans-serif;
  font-style: normal;
  color: #fff;
}

/* contact me section */
.contact {
  display: flex;
  flex-direction: column;
  padding: 80px 24px 120px 24px;
  left: 0;
  font-family: Inter, sans-serif;
}

.contact p {
  padding: 20px 6px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  left: 16px;
  right: 16px;
}

.contact label {
  display: none;
}

.contact input {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

.contact textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  padding: 12px;
  background: #fbf8f7;
}

.errorMessage {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: 24px;
  color: #dc3545;
  margin: 0.75rem 0;
}

button[type="submit"] {
  align-self: center;
  background: #ff6b00;
}

.bottom_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 33px;
}

#breakline {
  height: 2px;
}

#indicator {
  background: #19191a;
  border-radius: 10px;
}

.bottom_nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 32px;
  list-style: none;
}

/* --- Mobile POPUP WINDOW STYLES ----- */
.modal-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  overflow: scroll;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(8, 19, 43, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin-bottom: 20px;
}

.modal-container {
  position: fixed;
  top: 8%;
  left: 5%;
  right: 5%;
  background: #fff;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.modal-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 12px;
}

.heading {
  width: 100%;
}

.mobile-heading {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
  color: #172b4d;
  padding-left: 15px;
  padding-top: 15px;
}

.close-btn {
  float: right;
  border: none;
  outline: none;
  background: none;
  color: #67798e;
  font-size: 3.0rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}

.desktop-heading {
  display: none;
}

.modal-tags {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-left: 10px;
}

.modal-tags ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}

.modal-tag {
  width: fit-content;
  padding: 10px 12px;
  border: 1px solid #979493;
  list-style: none;
}

.modal-body {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.modal-desktopImage {
  display: none;
}

.modal-image {
  width: 100%;
  height: 100%;
}

.modal-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.modal-mobileDesc {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.modal-desktopDesc {
  display: none;
}

.modal-btn {
  margin-top: 20px;
  color: #fff;
  border: none;
  text-decoration: none;
}

.display-modal {
  pointer-events: all;
  display: block;
}

.blur {
  filter: blur(5px);
}
