
/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Status bar and navigation bar style */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 72px;
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #3c3a39;
}

.logo {
  width: 180px;
  font-weight: 600;
  line-height: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 58px;
  padding: 5px;
  position: relative;
  right: 13px;
}

.hamburger{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
  right: 14px;
  background-color: #3c3a39 !important;
  cursor: pointer;
  border: none !important;
}

.hamberLine {
  display: block;
  width: 25px;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #f1f2f5;
}

.hamburger.active {
  background: rgba(18, 18, 19, 0.7);
  cursor: pointer;
}

.hamburger.active .hamberLine:nth-child(2) {
  opacity: 0;
}

.hamburger.active .hamberLine:nth-child(1) {
  transform: translateY(2px) rotate(45deg);
  background: #65707e;
  position: fixed;
  z-index: 1;
}

.hamburger.active .hamberLine:nth-child(3) {
  transform: translateY(2px) rotate(-45deg);
  background: #65707e;
  position: fixed;
  z-index: 1;
}

/* responsive top-nav on mobile */
.top-nav-menu {
  list-style: none;
  height: 0;
  overflow: hidden;
}

.mobile-top-nav{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: 60px 42px;
  background: #3c3a39;
  list-style: none;
  transition: all 0.5s ease-in-out;;
}

.mobile-top-nav a {
  width: 100%;
  display: block;
  padding-left: 15px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #fff5e1;
  border-bottom: 1px solid #6f6c6b;
  text-decoration: none;
}

/* hide the menu list and contact icon */
.contact-icon {
  display: none;
}


/* Headline Styling */
.head-container {
  width: 375px;
  height: 549px;
  position: absolute;
  top: 72px;
  left: 0;
  background-image: url(../images/background-image.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 347px;
  height: 420px;
  margin: 0;
  padding: 10px;
  position: relative;
  left: 13px;
  top: 0;
}

.primary-text {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.headline .primary-text {
  height: 124px;
  margin-top: 92px;
}

.support-text {
  height: 57px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
}

.description {
  height: 123px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

h1.primary-text,
h2.support-text,
p.description {
  width: 327px;
  font-style: normal;
}

h2.support-text,
p.description {
  color: #fff;
}

/* Social Media */
.social-media {
  display: flex;
  width: 257px;
  height: 46px;
  position: relative;
  left: 20px;
}

.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
}

.social-media img {
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.social-media li {
  list-style: none;
}

/* Recent works section */
.recent-works {
  display: grid;
  grid-template-rows: 317px 618px;
  width: 375px;
  height: 290px;
  position: absolute;
  top: 622px;
}

/* Title */
.works-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 375px;
  height: 317px;
  position: static;
}

.works-title h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 600px;
  font-size: 40px;
  color: #1c1a19;
}

.works-title hr {
  width: 327px;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #212121;
}

/* Multi stories and featured image section */
.multi-stories {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  gap: 24px;
  width: 375px;
  height: 568px;
  position: absolute;
  top: 319px;
}

.right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 327px;
  height: 307px;
  position: relative;
  top: 14px;
}

.right-block h2,
.right-block p,
.work-cards h2,
.work-cards p {
  font-style: normal;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  color: #091e42;
}

.right-block h2,
.work-cards h2 {
  font-size: 32px;
  line-height: 44px;
}

.right-block h2 {
  width: 327px;
  height: 36px;
  color: #091e42;
}

.work-cards h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 103px;
  margin-top: 145px;
  color: #fff;
}

.right-block p {
  width: 327px;
  height: 257px;
  font-size: 16px;
  line-height: 24px;
}

.work-cards p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 93px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  top: 1252px;
  color: #fff;
}

.tags ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  bottom: 120px;
  gap: 20px;
  width: 297px;
  height: 40px;
}

.tags li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 90px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
}

button {
  display: flex;
  padding: 12px;
  gap: 10px;
  height: 48px;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
}

button:enabled {
  background: #f55800;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

button:focus {
  background: #e05304;
  color: #f4f1f0;
}

button:disabled {
  background: #f4f1f0;
}

.right-block button {
  width: 124px;
}

.work-cards button {
  width: 327px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 25px;
}

.work-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 24px;
  gap: 45px;
  width: 375px;
  height: 2836px;
  position: relative;
  top: 972px;
}

.work-cards {
  width: 327px;
  height: 520px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(../images/mask_group.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-cards-desk {
  display: none;
}

/* About Us section */
.about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 24px;
  position: absolute;
  width: 375px;
  height: 683px;
  left: 0;
  top: 5217px;
  background-image: url(../images/about_bkgr.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us p {
  width: 327px;
  height: 143px !important;
  font-family: Inter, sans-serif;
  font-weight: 400;
  vertical-align: middle;
  margin-bottom: 45px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 375px;
  height: 1122px;
  top: 5889px;
  padding-top: 145px;
  background-color: #181616;
}

.skills-title {
  display: inline-flex;
  flex-direction: row;
}

.skills-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 18px;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}

.skills-title img {
  width: 32px;
  height: 32px;
  align-self: center;
}

.skills-title h3 {
  margin-left: 18px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 64px;
  color: #fff;
}

.skills-container li {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  list-style: none;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 1010px;
  padding: 120px 24px;
  gap: 12px;
  position: absolute;
  left: 0;
  top: 7010px;
  font-family: Inter, sans-serif;
}

.contact p {
  width: 327px;
  height: 346px;
  padding: 20px 6px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 25px;
  gap: 24px;
  width: 327px;
  height: 330px;
}

.contact label {
  display: none;
}

.contact input {
  width: 327px;
  height: 32px;
  left: 16px;
  right: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

.contact textarea {
  width: 327px;
  height: 114px;
  left: 16px;
  right: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  padding: 12px;
  background: #fbf8f7;
}

button[type="submit"] {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  gap: 10px;
  width: 131px;
  height: 48px;
  padding: 12px;
  background: #ff6b00;
}

.bottom_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  position: absolute;
  width: 375px;
  height: 72px;
  left: 0;
  top: 7910px;
}

#breakline {
  position: absolute;
  top: 0;
  height: 1px;
  background-color: #dfe1e6;
}

#indicator {
  position: absolute;
  bottom: 8px;
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
}

.bottom_nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 32px;
  position: relative;
  width: 200px;
  height: 40px;
  list-style: none;
}
